body 
{background: white;
 text-align:left;
}
#outerdiv
{text-align:center;
margin:20px;
}

/*@media (max-width: 480px) 
{ 
  #maindiv { font-size: 10px; }
}

@media (min-width: 1280px) 
{ 
  #maindiv{ font-size: 15px; }
}*/

#maindiv
{
 width:60%;
 min-width:20em;
 /*height:250px;*/
 display:inline-block;
 text-align:center;
 /*background-color: skyblue;*/
 padding:15px;
 overflow:hidden;
}
 
#result
{
 display:inline-block;
}

#foldersdiv
{display:none;
 width:100%;
 min-width:20em;
 min-width:20em;
 background-color: lightblue;
 padding:8px;
 margin:5px;
}

label
{   
 	clear: left;
	float: left;
	width: 5em ;
}

#inputs
{ height:50%;
  display:inline-block;
  text-align:center;
  padding:10px;
 
}

#result
{
 display:inline-block;
 text-align:left;
}

#myresult
{ 
 text-align:center;
 margin:30px; 
}

.row1
{   
	padding:5px;
}

.row1 select,.row1 input
{
  width:auto;
  display: inline-block;
}

.buttonHolder
 {
  text-align: center;
 }


#savebtn,#clear,#addfolder,#deletefolder,#inputs,.buttonHolder,#result,#managefolder
{font-size:2.3vmin;}

.grad
{
background: #e1ffff; /* Old browsers */
background: -moz-linear-gradient(top,  #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #fdffff 12%, #e6f8fd 30%, #c8eefb 54%, #bee4f8 75%, #b1d8f5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1ffff), color-stop(7%,#e1ffff), color-stop(12%,#e1ffff), color-stop(12%,#fdffff), color-stop(30%,#e6f8fd), color-stop(54%,#c8eefb), color-stop(75%,#bee4f8), color-stop(100%,#b1d8f5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5',GradientType=0 ); /* IE6-9 */
}

